---
import styles from 'contact.module.css';
---
<div id={styles.contact_container}>
    <ul>
        <a href="https://github.com/Asur-zx">
            <div class={styles.contact_select_div}></div>
            <li> Github </li>
        </a>
        <a href="mailto:lamsal.aayush9115@gmail.com">
            <div class={styles.contact_select_div}></div>
            <li> Gmail </li>
        </a>
        <a href="https://discord.com/users/123456789012345678" target="blank">
            <div class={styles.contact_select_div}></div>
            <li> Discord </li>
        </a>
        <a href="https://www.instagram.com/iyushlamsal/">
            <div class={styles.contact_select_div}></div>
            <li> Instagram </li>
        </a>
    </ul>
</div>
