---
import styles from '@styles/contact.module.css';
---
<div id={styles.contact_container}>
    <ul>
        <a>
            <div class={styles.contact_select_div}></div>
            <li> Github </li>
        </a>
        <a>
            <div class={styles.contact_select_div}></div>
            <li> Gmail </li>
        </a>
        <a>
            <div class={styles.contact_select_div}></div>
            <li> Discord </li>
        </a>
        <a>
            <div class={styles.contact_select_div}></div>
            <li> Instagram </li>
        </a>
    </ul>
</div>
